<!DOCTYPE html>
<html class="x-admin-sm">

  <head>
      <meta charset="UTF-8">
      <title>格子信息更新</title>
      <meta name="renderer" content="webkit">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
      <link rel="stylesheet" href="../../css/font.css">
      <link rel="stylesheet" href="../../css/xadmin.css">
      <script type="text/javascript" src="../../js/jquery3.2.1.min.js"></script>
      <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="../../js/xadmin.js"></script>
      <script type="text/javascript" src="../../js/cookie.js"></script>
      <script type="text/javascript" src="../../js/vue.min.js"></script>
      <script type="text/javascript" src="../../js/axios.min.js"></script>
      <!--<script type="text/javascript" src="../../js/vue-paginate.js"></script>-->

      <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
      <!--[if lt IE 9]>

      <script src="../../js/html5.min.js"></script>
      <script src="../../js/respond.min.js"></script>

      <![endif]-->
  </head>

  <body>
  <div class="x-nav" >
<span class="layui-breadcrumb">
<a href="">首页</a>
<a href="">格子铺管理</a>
<a>
<cite>格子铺列表>>>更新格子铺信息</cite></a>
</span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
          <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
    <div class="x-body" id="grid-edit">

            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>ID
                </label>
                <div class=" layui-input-inline ">
                    <input type="text" id="id"  required="" readonly="readonly" v-model="id"
                           autocomplete="off" class="layui-input ">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x">*</span>
                </div>
                <label  class="layui-form-label">
                    <span class="x-red">*</span>挂靠商铺名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" readonly="readonly" required="" v-model="shopName"
                           autocomplete="off" class="layui-input ">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" v-model="name"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class=x-a>*</span>
                </div>
                <label  class="layui-form-label">
                    <span class="x-red">*</span>挂靠商铺地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="" readonly="readonly" required="" v-model="shopAddress"
                           autocomplete="off" class="layui-input ">
                </div>
            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>格子数量
                </label>
                <div class="layui-input-inline">
                    <input type="number" required="" v-model="size"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-a">*</span>
                </div>
                <label  class="layui-form-label">
                    <span class="x-red">*</span>挂靠商铺电话
                </label>
                <div class="layui-input-inline">
                    <input type="text"  readonly="readonly" required="" v-model="shopPhone"
                           autocomplete="off" class="layui-input ">
                </div>

            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>挂靠商铺ID
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="rate"  readonly="readonly" required="" v-model="shopId"
                           autocomplete="off" class="layui-input ">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-a">*</span>
                </div>
                <button class="layui-btn layui-btn-normal"
                        @click="x_admin_show('选择挂靠商铺',
                'grid-shopList.html', 900, 700,function() {
                    var shop = JSON.parse(sessionStorage.getItem('shop'));

                    shopId = shop.id;
                    shopName = shop.name;
                    shopAddress = shop.address;
                    shopPhone = shop.phone
             })">选择挂靠商铺</button>

            </div>


            <div class="layui-form-item">
              <label class="layui-form-label">
              </label>
                <label class="layui-form-label">
                </label>
              <button  class="layui-btn" @click="updategrid()" >
                  修改
              </button>
                <button  class="layui-btn" onclick="location.href='./grid-list.html'">
                    返回
                </button>
          </div>
    </div>
    <script>

        const app = new Vue({
            el: "#grid-edit",
            data:{
                id: '',
                name: '',
                size: '',
                shopId: '',
                shopName: '',
                shopAddress: '',
                shopPhone:'',
                status: '',
                rentId:'',
                income:'',
            },
            mounted() {
                const grid = JSON.parse(sessionStorage.getItem('grid'));
                // alert(JSON.stringify(grid));
                this.id = grid.id;
                this.name = grid.name;
                this.size = grid.size;
                this.shopPhone = grid.shopByShopId.phone;
                this.shopId = grid.shopId;
                this.shopName = grid.shopByShopId.name;
                this.shopAddress = grid.shopByShopId.address;
                this.status = grid.status;
                this.rentId = grid.rentId;
                this.income = grid.totalIncome;
            },

            methods:{
                getData() {
                    if (this.name==null||this.name===''){
                        layer.msg('格子铺名称不能为空',{icon:5,time:1000})
                    } else if (this.size==null||this.size===''||!Number(this.size)){
                        layer.msg('格子数量不能为空',{icon:5,time:1000})
                    }else if (this.shopId==null||this.shopId===''){
                        layer.msg('请选择挂靠商铺',{icon:5,time:1000})
                    }else {
                        return {
                            'id':this.id,
                            'name':this.name,
                            'size':this.size,
                            'shopId':this.shopId,
                            'status':this.status,
                            'rentId':this.rentId,
                            'totalIncome':this.income
                        };
                    }

                },

                updategrid() {
                    var data = this.getData();
                    // alert(JSON.stringify(data));
                    if (data!=null){
                        //发异步，把数据提交
                        axios.put(urlPrefix+'/grids?token=' + token, data)
                            .then((response) => {
                                layer.alert("修改成功", {icon: 6},function () {
                                    location.href='./grid-list.html';

                                });

                            }).catch((err) => {
                            errHandler(err);
                            layer.alert("修改失败", {icon: 5});

                        });
                    }

                }

            },
            setShop(){
                var shop = sessionStorage.getItem('shop');

                this.shopId = shop.id;
                this.shopName = shop.name;
                this.shopAddress = shop.address;
                this.shopPhone = shop.phone;
            }
            ,
            selectShop(){
                x_admin_show("选择挂靠商铺",'./selectShop.html',800,450,this.setShop)
            }
        });
  </script>
    <!--<script>var _hmt = _hmt || []; (function() {-->
        <!--var hm = document.createElement("script");-->
        <!--hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(hm, s);-->
      <!--})();</script>-->
  </body>

</html>
